.formbox {
    display: inline-block;
    margin-left: 100px;
    background-color: #adb4b5;
    min-height: 200px;
    border-radius: 50px;
    margin-bottom: 20px;
    min-width: 185vh;
  }

  .findcomponent{
    margin-top: 25px;
    position:relative;
    display:inline-block;
  }
  .findbutton{
    position:absolute;
  }
  .searchtitle{
    color: aliceblue;
    margin-left: 250px;
    margin-top: 100px;
    font-size: 100px;
  }
  .searchsecondtitle{
    color: aliceblue;
    margin-left: 250px;
    margin-top: 20px;
   
  }
  .forminput{
    margin-top: 50px;
}
  .searchbttn{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    height: 45px;
    width: 90px;
    text-align: center;
    padding: 10px;
    margin-right: 20px;
  }

  .fields{
    display: flex;
    flex-direction: row;
  }
  .formlabel{
    margin-right: 20px;
    width: 200px;
  }

  .searchtitlee{
    margin-left: 20px;
    margin-top: -40px;
  }

.button27 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
    max-width: 100px;
  will-change: transform;
margin-left: 20px;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}

    
.description { grid-area: description;
  text-align: center;
  background-color: wheat;
  border-radius: 250px;
  margin-top: 80px;
  margin-right: 20px;
  margin-bottom: 120px;
}

.image { 
  grid-area: image;
  margin-top: 80px; 
}

.descriptionContent{
  text-align: center;
  padding:30px
}
.descriptionTitle{
  padding:50px
}
.adviceImage{
  max-width: 200px;
  max-height: 200px;

  margin-left: 30px;
}

.featuredContent{
  margin-top: 150px;
}
.search{
  margin-left: 20px;
  margin-top: 10px;
}