/* Styling for the form container */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  /* Styling for form labels */
  label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
  }
  
  /* Styling for form inputs */
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Styling for the submit button */
  input[type="submit"] {
    background-color: #649ea4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Styling for the navbar */
  .navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  .successMessage {
    color: green;
    margin-bottom: 10px;
    text-align: center;

  }
  
  .errorMessage {
    color: red;
    margin-bottom: 10px;
    text-align: center;
  }
  